<%= render 'layouts/menu' %>

<h1>Your Cart</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <% @cart.each do |item| %>
    <tr>
      <td><%= link_to item[:name], product_view_path(item[:id]) %> x <input type="number" value=<%= item[:occurances] %> /></td>
      <td>$<%= item[:price] * item[:occurances]%></td>
    </tr>
  <% end %>
  <tr>
    <td></strong>Total: $<%= @total %></strong></td>
  </tr>
</table>
