<%= render 'layouts/menu' %>

<h1>Your Cart</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @cart.each do |item| %>
    <tr>
      <td><%= link_to item[:name], product_view_path(item[:id]) %></td>
      <td>
        <%= item[:occurances] %>
        <%= link_to '+', add_one_path(item[:id]) %> | <%= link_to '-', remove_one_path(item[:id]) %> | <%= link_to 'Delete', remove_all_path(item[:id]) %>
      </td>
      <td><%= number_to_currency(item[:price] * 100  * item[:occurances] / 100) %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Total: <%= number_to_currency(@subtotal / 100) %></strong></td>
  </tr>
</table>

<%= link_to 'Checkout', charges_new_path %>
