<form action="/products/">
  <input type="text" name="keyword" placeholder="Search...">
  <button>Search Products</button>
</form>

<%= @products.each do |product| %>
  <p>
    <%= link_to product.name, product_view_path(product.id) %> - $<%= product.price %></br>
    <%= product.description %></br>
    <%= product.quantity %> in stock | <%= link_to 'Add to Cart', all_products_path(product.id) %>
  </p>
<% end %>
