<%= render 'layouts/menu' %>

<form action="/products/">
  <input type="text" name="keyword" placeholder="Search...">

  <select name="search_by">
    <option value="">All Catagories</option>
    <% @catagories.each do |catagory| %>
      <option value="<%= catagory.id %>"><%= catagory.name %></option>
    <% end %>
  </select>

  <button>Search Products</button>
</form>

<%= @products.each do |product| %>
  <p>
    <%= link_to product.name, product_view_path(product.id) %> - <%= number_to_currency(product.price) %></br>
    <%= product.quantity %> in stock | <%= link_to 'Add to Cart', add_to_cart_path(product.id) %>
  </p>
<% end %>
