<h1>Finalize</h1>

<p><%= @name %></p>
<p><%= @address %>, <%= @city %> <%= @province %></p>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @cart.each do |item| %>
    <tr>
      <td><%= link_to item[:name], product_view_path(item[:id]) %></td>
      <td><%= item[:occurances] %></td>
      <td>$<%= item[:price] * item[:occurances]%></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <p>Subtotal: $<%= session[:subtotal] %></p>
      <p>GST: $0.00</p>
      <p>PST: $0.00</p>
      <p><strong>Total: $0.00</strong></p>
    </td>
  </tr>
</table>
